.project{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* align-items: center; */
    justify-content:space-evenly;
}
.project-div{  
    width: 350px;
    height: 350px;
    background-color:#A6E1FA;
    border: 1px solid rgb(128, 144, 160);
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    box-shadow: 10px 10px 5px lightblue;
    border-radius: 5px;

}
.project-div p{
    font-family:serif;
    text-align: center;
}
.projects-link{
    /* position: relative;
    top: 65px; */
    margin-left: 20px;
}
.projects-link a{
    margin: 5px;
}
.projects-link a:hover{
    box-shadow: 3px lightblue;

}

.project-desciption{
    height: 60%;
    font-family:serif;
}
/* 
@media  screen and (max-width: 1375px) {
    .projects-link{
        position: relative;
        top: 90px;
    }
} */